@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import '_media';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #641b4e;
}

section {
    position: relative;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;

    @media screen and (max-width: 766px) {
        padding: 100px 40px;
    }

    .logo {
        position: fixed;
        top: 30px;
        color: #fff;
        font-size: 2em;
        font-weight: 700;
        z-index: 100;
        cursor: pointer;

        @media screen and (max-width: 766px) {
            top: 10px;
            font-size: 1.5em;
        }


    }

    .bg {
        position: absolute;
        top: 0;
        right: 60px;
        height: 100%;

        @media screen and (max-width: 766px) {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.5;
        }
    }

    .content {
        position: relative;
        max-width: 650px;
        z-index: 1;

        h2 {
            color: #fff;
            font-size: 3em;
            font-weight: 700;
            line-height: 1.1em;

            @media screen and (max-width: 766px) {
                font-size: 2.5em;
            }

        }

        p {
            color: #fff;
            font-size: 1.1em;
            margin: 20px 0 10px;
        }

        a {
            color: #fff;
            background: #f60f20;
            font-size: 1em;
            font-weight: 500;
            margin: 20px 0;
            padding: 10px 30px;
            display: inline-block;
            text-decoration: none;
        }
    }

    .copyrightText {
        position: absolute;
        bottom: 20px;
        font-size: 1em;
        color: #fff;
        margin: 20px 0 10px;
    }
}

.menuToggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #f60f20 url(../image/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    z-index: 1000;


}

.menuToggle.active {
    background: #f60f20 url(../image/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.navigation {
    position: fixed;
    top: 0;
    left: calc(100% - 60px);
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    z-index: 999;

    @media screen and (max-width: 766px) {
        left: 100%;
    }

    ul {
        position: relative;

        li {
            position: relative;
            list-style: none;
            text-align: center;

            a {
                font-size: 2.5em;
                color: #111;
                text-decoration: none;
                font-weight: 300;

                &:hover {
                    color: #f60f20;
                }

                @media screen and (max-width: 766px) {
                    font-size: 2em;
                }
            }
        }
    }

    .socialBar {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            position: relative;

            li {
                position: relative;
                list-style: none;

                a {
                    position: relative;
                    display: inline-block;
                    transform: scale(0.6);
                }
            }
        }

        .mailBx {
            position: absolute;
            bottom: 20px;
            transform: scale(0.6);
        }
    }
}

.navigation.active {
    left: 0;
}

// media query